<form autocomplete="off" onsubmit="event.preventDefault();">
    {{#each settings as |setting s|}}
        {{#if (eq setting.key 'use_wild_die')}}
            <div class="form-group">
                <label for="{{setting.key}}">{{localize setting.name}}</label>
                <div class="form-fields use_wild_die">
                    <input type="{{setting.inputType}}" name="{{setting.key}}" data-dtype="{{setting.type.name}}"
                           value="{{setting.value}}" {{checked ../show}}>
                </div>
                <p class="notes">{{{localize setting.hint}}}</p>
            </div>
        {{else}}
            {{#if ../show}}
                <div class="form-group">
                    <label for="{{setting.key}}">{{localize setting.name}}</label>
                    <div class="form-fields">
                        {{#if setting.choice}}
                            <select name="{{setting.key}}" id="{{setting.key}}">
                                {{#select setting.value}}
                                    {{#each setting.choices as |choice key|}}
                                        <option value="{{key}}">
                                            {{localize choice}}
                                        </option>
                                    {{/each}}
                                {{/select}}
                            </select>
                        {{else}}
                            {{#if (eq setting.filePicker "image")}}
                                <input type="{{setting.inputType}}" name="{{setting.key}}"
                                       data-dtype="{{setting.type.name}}"
                                       value="{{setting.value}}">
                                {{filePicker target=setting.key type="image"}}
                            {{else}}
                                <input type="{{setting.inputType}}" name="{{setting.key}}"
                                       data-dtype="{{setting.type.name}}"
                                       value="{{setting.value}}" {{checked setting.value}}>
                            {{/if}}
                        {{/if}}
                    </div>
                    <p class="notes">{{{localize setting.hint}}}</p>
                </div>
            {{/if}}
        {{/if}}
    {{/each}}
    <button type="submit" name="submit">{{localize "Submit"}}</button>
</form>
