<nav class="sheet-tabs tabs" data-group="primary">
    {{#each (getContainerItemCategories) as |item key|}}
        {{#if (getCheckedItemType key ../data.itemtypes)}}
            <a class="item" data-tab="items-{{key}}">{{localize item}}</a>
        {{/if}}
    {{/each}}
    {{#unless data.merchant}}
        {{#unless (isGM)}}
            <a class="item" data-tab="items-transfer">{{localize 'OD6S.TRANSFER_ITEM'}}</a>
        {{/unless}}
    {{/unless}}
</nav>
<section class="sheet-body">
    {{#each (getContainerItemCategories) as |tab key|}}
        <div class="tab {{key}}" data-group="primary" data-tab="items-{{key}}">
            <div class="flexrow flex-group-center">
                <div class="align-center-header">
                    {{localize 'OD6S.ITEMS'}}
                    {{#if (isGM)}}
                        <a class="item-controls-right item-add" data-type="{{key}}"
                           title="{{localize 'OD6S.ADD'}} {{localize tab}}">
                            <i class="fas fa-plus"></i>
                        </a>
                    {{/if}}
                </div>
            </div>
            <div>
                <ul class="container-inventory-list">
                    {{#each (getContainerItems key ../actor.container) as |item key|}}
                        {{#if (isGM)}}
                            <li class="item grid merchant-owner-grid" data-item-id="{{item._id}}">
                                <div class="flexrow flex-group-center item-quantity"
                                     data-item-id="{{item._id}}">
                                    <input class="merchant-quantity-owner" type="number" data-item-id="{{item._id}}"
                                           data-actor-uuid="{{../../actor.uuid}}"
                                           value="{{item.data.quantity}}"/>
                                </div>
                                <div class="flexrow flex-group-left show-item-details"
                                     data-item-name="{{item.name}}"
                                     data-actor-id="{{../../actor.id}}"
                                     data-item-id="{{item._id}}">{{item.name}}</div>
                                <div class="item flexrow flex-group-left">
                                    {{#if (eq (getCost) "0")}}
                                        <select name="item.data.price" id="item.data.price"
                                                class="merchant-price-owner" data-actor-uuid="{{../../actor.uuid}}"
                                                data-item-id="{{item._id}}" style="width: 70px" data-dtype="String">
                                            {{#select item.data.price}}
                                                {{#each (getConfig 'difficultyShort' '') as |level key|}}
                                                    <option value="{{key}}">
                                                        {{localize level}}
                                                    </option>
                                                {{/each}}
                                            {{/select}}
                                        </select>
                                    {{ else }}
                                        <label for="item.data.cost">{{localize 'OD6S.PRICE'}}:</label>
                                        <input class="merchant-cost-owner" type="number" name="item.data.cost"
                                               id="item.data.cost"
                                               data-item-id="{{item._id}}" data-actor-uuid="{{../../actor.uuid}}"
                                               data-dtype="Number" value="{{item.data.cost}}"/>
                                    {{/if}}
                                </div>
                                <div class="item-controls flexrow flex-group-center"
                                     data-item-id="{{item._id}}"
                                     data-type="{{item.type}}">
                                    <a class="item-control item-edit small-font" data-item-id="{{item._id}}"
                                       title="{{localize 'OD6S.EDIT_ITEM'}}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a data-item-id="{{item._id}}"
                                       data-type="{{item.type}}"
                                       class="item-control item-delete small-font"
                                       title="{{localize 'OD6S.DELETE_ITEM'}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </li>
                        {{else}}
                            {{#if ../../data.merchant}}
                                {{#if (gt item.data.quantity 0)}}
                                    <li class="item grid merchant-grid" data-item-id="{{item._id}}">
                                        <div class="flexrow flex-group-center" title="{{localize 'OD6S.QUANTITY'}}">
                                            {{item.data.quantity}}
                                        </div>
                                        <div class="flexrow flex-group-left show-item-details"
                                             data-item-name="{{item.name}}"
                                             data-actor-id="{{../../actor.id}}"
                                             data-item-id="{{item._id}}">{{item.name}}
                                        </div>
                                        <div class="item flexrow flex-group-left"
                                             title="{{localize 'OD6S.PRICE'}}">
                                            {{#if (eq (getCost) "0")}}
                                                {{localize (getConfig 'difficultyShort' item.data.price)}}
                                            {{ else }}
                                                {{item.data.cost}} {{localize (getCurrencyLabel)}}
                                            {{/if}}
                                        </div>
                                        <div class="item flexrow flex-group-center">
                                            <a data-item-id="{{item._id}}"
                                               data-type="{{item.type}}"
                                               class="item-control item-purchase"
                                               title="{{localize 'OD6S.PURCHASE_ITEM'}}">
                                                <i class="fas fa-coins"></i>
                                            </a>
                                        </div>
                                    </li>
                                {{/if}}
                            {{else}}
                                {{#if (gt item.data.quantity 0)}}
                                    <li class="item grid container-grid" data-item-id="{{item._id}}">
                                        <div class="flexrow flex-group-center" title="{{localize 'OD6S.QUANTITY'}}">
                                            {{item.data.quantity}}
                                        </div>
                                        <div class="flexrow flex-group-left show-item-details"
                                             data-item-name="{{item.name}}"
                                             data-actor-id="{{../../actor.id}}"
                                             data-item-id="{{item._id}}">{{item.name}}
                                        </div>
                                        <div class="item flexrow flex-group-center">
                                            <a data-item-id="{{item._id}}"
                                               data-sender-id="{{../../actor.id}}"
                                               data-rec-id="{{getCharacterActorId}}"
                                               data-type="{{item.type}}"
                                               class="item-control item-transfer"
                                               title="{{localize 'OD6S.TRANSFER_ITEM'}}">
                                                <i class="fas fa-exchange-alt"></i>
                                            </a>
                                        </div>
                                    </li>
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    {{/each}}
    {{#unless data.merchant}}
        {{#unless (isGM)}}
            <div class="tab items-transfer" data-group="primary" data-tab="items-transfer">
                <div class="flexrow flex-group-center">
                    <div class="align-center-header">
                        {{localize 'OD6S.TAB_INVENTORY'}}
                    </div>
                </div>
                <ul class="player-inventory-list">
                    {{#each (getCharacterInventoryForContainer) as |item key|}}
                        <li class="item grid container-grid" data-item-id="{{item.id}}">
                            <div class="flexrow flex-group-center" title="{{localize 'OD6S.QUANTITY'}}">
                                {{item.data.data.quantity}}
                            </div>
                            <div class="flexrow flex-group-left show-item-details"
                                 data-item-name="{{item.name}}"
                                 data-actor-id="{{getCharacterActorId}}"
                                 data-item-id="{{item.id}}">{{item.name}}
                            </div>
                            <div class="item flexrow flex-group-center">
                                <a data-item-id="{{item.id}}"
                                   data-type="{{item.type}}"
                                   data-sender-id="{{getCharacterActorId}}"
                                   data-rec-id="{{../actor.id}}"
                                   class="item-control item-transfer"
                                   title="{{localize 'OD6S.TRANSFER_ITEM'}}">
                                    <i class="fas fa-exchange-alt"></i>
                                </a>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/unless}}
    {{/unless}}
</section>