{{#if (isGM) }}
    <div class="grid grid-container-header">
        <div class="containerflags">
            <div class="center">{{localize 'OD6S.CONFIGURATION'}}</div>
            <div class="boxed">
                <div class="flexrow ismerchant" title="{{localize 'OD6S.TOOLTIP_MERCHANT_VENDOR'}}">
                    <label for="data.merchant">{{localize 'OD6S.MERCHANT'}}:</label>
                    <input id="data.merchant" name="data.merchant" type="checkbox"
                           data-dtype="Boolean" {{checked data.merchant}}/>
                </div>
                <div class="flexrow sidebar" title="{{localize 'OD6S.TOOLTIP_SHOW_IN_ACTOR_SIDEBAR'}}">
                    <label for="data.visible">{{localize 'OD6S.VISIBLE'}}:</label>
                    <input id="data.visible" name="data.visible" type="checkbox"
                           data-dtype="Boolean" {{checked data.visible}}/>
                </div>
            </div>
        </div>
        <div class="tabgroup">
            <div class="center">{{localize 'OD6S.SHOW_ITEM_TYPES_TABS'}}</div>
            <div class="grid grid-4col">
                {{#each (getContainerItemCategories) as |item key|}}
                    <div class="flexrow flex-group-left">
                        <div class="grid grid-2col-checkbox" title="{{localize item}}">
                            <label for="data.itemtypes.{{key}}">{{localize item}}:</label>
                            <input class="checkbox"
                                   id="data.itemtypes.{{key}}" name="data.itemtypes.{{key}}" type="checkbox"
                                   data-actor-uuid="{{actor.uuid}}" value="{{getCheckedItemType key ../data.itemtypes}}"
                                   data-dtype="Boolean" {{checked (getCheckedItemType key ../data.itemtypes)}}/>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
{{/if}}
