<form>
    {{#each skills as |skill key|}}
    <div>
        <b>{{skill.skill.name}}</b>
        {{#if (eq (showWildDie) true)}}
            <div class="flexrow flex-group-left showWildDie" data-wilddie="{{wilddie}}">
                <label for="wilddie">{{localize 'OD6S.USE_WILD_DIE'}}</label>
                <input type="checkbox" data-dtype="Boolean" id="wilddie" name="wilddie" {{checked ../wilddie}}>
            </div>
        {{/if}}
        <div class="flexrow flex-group-left">
            <div class="dice flexrow flex-group-left" data-dice="{{diceFromScore skill.skill.data.data.score}}">
                <label for="dice">{{localize 'OD6S.DICE'}}</label>
                <input type="number" onfocus="this.value=''" data-dtype="Number"
                       max="99" id="dice" name="dice" value="{{diceFromScore skill.skill.data.data.score}}">
            </div>
            <div class="pips flexrow flex-group-left" data-pips="{{pipsFromScore skill.skill.data.data.score}}">
                <label for="pips">{{localize 'OD6S.PIPS'}}</label>
                <input type="number" onfocus="this.value=''" data-dtype="Number"
                       max="99" id="pips" name="pips" placeholder="0">
            </div>
        </div>
        <div class="flexrow flex-group-left">
            <div class="bonusdice flexrow flex-group-left usebonus">
                <label for="bonusdice">{{localize 'OD6S.USE_BONUS_DICE'}}</label>
                <input type="number" onfocus="this.value=''" data-dtype="Number"
                       max="99" id="bonusdice" name="bonusdice" placeholder={{bonusdice}}>
            </div>
            <div class="bonuspips flexrow flex-group-left usebonus" data-bonuspips="{{bonuspips}}">
                <label for="bonuspips">{{localize 'OD6S.USE_BONUS_PIPS'}}</label>
                <input type="number" onfocus="this.value=''" data-dtype="Number"
                       max="99" id="bonuspips" name="bonuspips" placeholder="{{bonuspips}}">
            </div>
        </div>
        <div class="center"><b>{{localize "OD6S.PENALTIES"}}</b></div>
        <div class="row">
            <div class="column>">
                <div class="flexrow flex-group-left" title="{{localize 'OD6S.ACTION_PENALTY'}}">
                    <div class="actionpenalty flexrow flex-group-left">
                        <label for="actionpenalty">{{localize 'OD6S.ACTIONS'}}:</label>
                    </div>
                    <div class="flexrow flex-group-center actionpenalty"
                         data-actionpenalty="{{../actionpenalty}}">
                        <input type="number" onfocus="this.value=''" data-dtype="Number"
                               max="99" id="actionpenalty" name="actionpenalty"
                               placeholder="{{../actionpenalty}}"><b>D</b>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="flexrow flex-group-left" title="{{localize 'OD6S.WOUND_PENALTY'}}">
                    <div class="woundpenalty flexrow flex-group-left">
                        <label for="woundpenalty">{{localize 'OD6S.WOUNDS'}}:</label>
                    </div>
                    <div class="flexrow flex-group-center woundpenalty"
                         data-woundpenalty="{{../woundpenalty}}">
                        <input type="number" onfocus="this.value=''" data-dtype="Number"
                               max="99" id="woundpenalty" name="woundpenalty"
                               placeholder="{{../woundpenalty}}"><b>D</b>
                    </div>
                </div>
            </div>
            <div class="column>">
                <div class="flexrow flex-group-left" title="{{localize 'OD6S.OTHER_PENALTY'}}">
                    <div class="otherpenalty flexrow flex-group-left">
                        <label for="otherpenalty">{{localize 'OD6S.OTHER'}}:</label>
                    </div>
                    <div class="flexrow flex-group-center otherpenalty"
                         data-otherpenalty="{{../otherpenalty}}">
                        <input type="number" onfocus="this.value=''" data-dtype="Number"
                               max="99" id="otherpenalty" name="otherpenalty"
                               placeholder="{{../otherpenalty}}"><b>D</b>
                    </div>
                </div>
            </div>
        </div>
        {{#unless (isHideAllRolls)}}
            <div class="flexrow flex-group-left">
                <div class="flexrow flex-group-left difficultylevel" data-difficultylevel="{{difficultylevel}}"
                     data-skill="{{key}}">
                    <label for="difficultylevel">{{localize 'OD6S.DIFFICULTY'}}</label>
                    <select name="difficultylevel" id="difficultylevel">
                        {{#select difficultylevel}}
                            {{#each (getDifficulties) as |difficultylevel key|}}
                                <option value="{{key}}"
                                        {{#if (eq key skill.difficulty)}}selected{{/if}}>
                                    {{localize key}}
                                </option>

                            {{/each}}
                        {{/select}}
                    </select>
                </div>
                {{#if (eq difficultylevel "OD6S.DIFFICULTY_CUSTOM")}}
                    <div class="flexrow flex-group-left difficulty" data-difficulty="{{difficulty}}">
                        <label for="difficulty">{{localize "OD6S.DIFFICULTY_CUSTOM_LABEL"}}</label>
                        <input type="number" onfocus="this.value=''" data-dtype="Number"
                               max="99" id="difficulty" name="difficulty" value="{{difficulty}}"
                               placeholder="10">
                    </div>
                {{/if}}
            </div>
        {{/unless}}
    </div>
        <hr>
    {{/each}}
</form>