<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"
             alt="{{localize 'OD6S.ALT_ITEM_IMAGE'}}"/>
        <div class="header-fields">
            <div>
                <h2 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h2>
                <div class="flex-left">
                    <div class="resource">
                        <label class="resource-label" for="data.quantity">Quantity</label>
                        <input type="text" name="data.quantity" id="data.quantity" value="{{data.data.quantity}}"
                               data-dtype="Number"/>
                    </div>
                    {{#if (eq (getCost) '0')}}
                        <div class="resource">
                            <label class="resource-label" for="data.price">{{localize 'OD6S.PRICE'}}</label>
                            <select name="data.price" id="data.price">
                                {{#select data.data.price}}
                                    {{#each (getPrices) as |price key|}}
                                        <option value="{{ key }}">
                                            {{key}}: {{localize price}}
                                        </option>
                                    {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    {{else}}
                        <div class="resource">
                            <label class="resource-label" for="data.cost">{{localize 'OD6S.COST'}}</label>
                            <input type="text" name="data.cost" id="data.cost" value="{{data.data.cost}}"
                                   data-dtype="Number"/>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "OD6S.DESCRIPTION"}}</a>
        <a class="item" data-tab="attributes">{{localize "OD6S.ATTRIBUTES"}}</a>
        <a class="item" data-tab="effects">{{localize "OD6S.EFFECTS"}}</a>
        <a class="item" data-tab="labels">{{localize "OD6S.LABELS"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="editor">{{editor content=data.data.description target="data.description" button=true owner=owner
                                         editable=editable}}
            </div>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{!-- As you add new fields, add them in here! --}}
            <div>{{localize 'OD6S.TYPE'}}: {{localize "OD6S.STARSHIP_WEAPON"}}</div>
            <div class="flexrow flex-group-left">
                <p>{{localize 'OD6S.RANGE'}}:</p>
                <label for="data.range.short">{{localize 'OD6S.RANGE_SHORT'}}:</label>
                <input title="{{localize 'OD6S.RANGE_SHORT'}}"
                       onfocus="this.value=''" data-dtype="Number"
                       name="data.range.short" type="number" value="{{data.data.range.short}}">
                <label for="data.range.medium">{{localize 'OD6S.RANGE_MEDIUM'}}:</label>
                <input title="{{localize 'OD6S.RANGE_MEDIUM'}}"
                       onfocus="this.value=''" data-dtype="Number"
                       name="data.range.medium" type="number" value="{{data.data.range.medium}}">
                <label for="data.range.long">{{localize 'OD6S.RANGE_LONG'}}:</label>
                <input title="{{localize 'OD6S.RANGE_LONG'}}"
                       onfocus="this.value=''" data-dtype="Number"
                       name="data.range.long" type="number" value="{{data.data.range.long}}">
            </div>
            <div class="row">
                <div class="column-vw vw-left">
                    <div class="flexrow flex-group-center">{{localize 'OD6S.DAMAGE'}}</div>
                    <div class="flexrow flex-group-center">
                        <div class="flexrow flex-group-left editweapondamage"
                             data-item-id="{{item.id}}" data-score="{{data.data.damage.score}}">
                            <label for="dice">{{localize 'OD6S.DICE'}}</label>
                            <input title="{{localize 'OD6S.DICE'}}" name="dice" type="number" onfocus="this.value=''"
                                   value="{{diceFromScore data.data.damage.score}}" data-dtype="Number"/>
                        </div>
                        <div class="flexrow flex-group-left editweapondamage"
                             data-item-id="{{item.id}}" data-score="{{data.data.damage.score}}">
                            <label for="pips">{{localize 'OD6S.PIPS'}}</label>
                            <input title="{{localize 'OD6S.PIPS'}}" name="pips" type="number" onfocus="this.value=''"
                                   value="{{pipsFromScore data.data.damage.score}}" data-dtype="Number"/>
                        </div>
                        <div class="flexrow flex-group-left" title="{{localize 'OD6S.DAMAGE_TYPE'}}">
                            <label for="data.damage.type"></label>
                            <select name="data.damage.type" id="data.damage.type">
                                {{#select data.data.damage.type }}
                                    {{#each (getDamageTypes) as |damagetype key|}}
                                        <option value="{{ key }}">
                                            {{localize damagetype}}
                                        </option>
                                    {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="column-vw vw-right">
                    <div class="flexrow flex-group-center">{{localize 'OD6S.FIRE_CONTROL'}}</div>
                    <div class="flexrow flex-group-center">
                        <div class="flexrow flex-group-left editweaponfirecontrol"
                             data-item-id="{{item.id}}" data-score="{{data.data.fire_control.score}}">
                            <label for="dice">{{localize 'OD6S.DICE'}}</label>
                            <input title="{{localize 'OD6S.DICE'}}" name="dice" type="number" onfocus="this.value=''"
                                   value="{{diceFromScore data.data.fire_control.score}}" data-dtype="Number"/>
                        </div>
                        <div class="flexrow flex-group-left editweaponfirecontrol"
                             data-item-id="{{item.id}}" data-score="{{data.data.fire_control.score}}">
                            <label for="pips">{{localize 'OD6S.PIPS'}}</label>
                            <input title="{{localize 'OD6S.PIPS'}}" name="pips" type="number" onfocus="this.value=''"
                                   value="{{pipsFromScore data.data.fire_control.score}}" data-dtype="Number"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flexrow flex-group-left">
                <div class="flexrow flex-group-left">
                    <label title="{{localize 'OD6S.TOOLTIP_STARSHIP_WEAPON_SCALE'}}" for="data.scale.score">{{localize
                            'OD6S.SCALE'}}</label>
                    <input title="{{localize 'OD6S.TOOLTIP_STARSHIP_WEAPON_SCALE'}}" name="data.scale.score"
                           onfocus="this.value=''"
                           type="number" data-dtype="Number" value="{{data.data.scale.score}}"/>
                </div>
            </div>
            <div class="flexrow flex-group-left">
                <div class="flexrow flex-group-left">
                    <label title="{{localize 'OD6S.TOOLTIP_STARSHIP_WEAPON_CREW'}}" for="data.crew.value">{{localize
                            'OD6S.CREW'}}</label>
                    <input title="{{localize 'OD6S.TOOLTIP_STARSHIP_WEAPON_CREW'}}" name="data.crew.value"
                           onfocus="this.value=''"
                           type="number" data-dtype="Number" value="{{data.data.crew.value}}"/>
                </div>
            </div>
            <div class="flexrow flex-group-left">
                <label title="{{localize 'OD6S.TOOLTIP_STARSHIP_WEAPON_ARC'}}" for="data.arc.value">{{localize
                        'OD6S.ARC'}}</label>
                <input title="{{localize 'OD6S.TOOLTIP_STARSHIP_WEAPON_ARC'}}" name="data.arc.value"
                       value="{{data.data.arc.value}}" data-dtype="String"/>
            </div>
            <div class="flexrow flex-group-left">
                <div class="flexrow flex-group-left">
                    <label for="data.difficulty">{{localize 'OD6S.ATTACK_DIFFICULTY_MODIFIER'}}</label>
                    <input title="{{localize 'OD6S.ATTACK_DIFFICULTY_MODIFIER'}}" name="data.difficulty"
                           onfocus="this.value=''"
                           type="number" data-dtype="Number" value="{{data.data.difficulty}}"/>
                </div>
            </div>
            <div class="flexrow flex-group-left">
                <label for="data.attribute.value">{{localize 'OD6S.ATTRIBUTE'}}</label>
                <input title="{{localize 'OD6S.ATTRIBUTE'}}" name="data.attribute.value"
                       value="{{data.data.attribute.value}}" data-dtype="String"/>
            </div>
            <div class="flexrow flex-group-left">
                <label for="data.skill.value">{{localize 'OD6S.SKILL'}}</label>
                <input title="{{localize 'OD6S.SKILL'}}" name="data.skill.value"
                       value="{{data.data.skill.value}}" data-dtype="String"/>
            </div>
            <div class="flexrow flex-group-left">
                <label for="data.specialization.value">{{localize 'OD6S.SPECIALIZATION'}}</label>
                <input title="{{localize 'OD6S.SPECIALIZATION'}}" name="data.specialization.value"
                       value="{{data.data.specialization.value}}" data-dtype="String"/>
            </div>
            <div class="flexrow flex-group-center">{{localize 'OD6S.ACTIVE_EFFECTS'}}</div>
            <div class="flexrow flex-group-center">
                <div class="flexrow flex-group-left">
                    <label for="data.mods.difficulty">{{localize 'OD6S.ATTACK_DIFFICULTY_MODIFIER'}}</label>
                    <input title="{{localize 'OD6S.ATTACK_DIFFICULTY_MODIFIER'}}" name="data.mods.difficulty"
                           onfocus="this.value=''"
                           type="number" data-dtype="Number" value="{{data.data.mods.difficulty}}"/>
                </div>
                <div class="flexrow flex-group-left">
                    <label for="data.mods.attack">{{localize 'OD6S.ATTACK_BONUS'}}</label>
                    <input title="{{localize 'OD6S.ATTACK_BONUS'}}" name="data.mods.attack" onfocus="this.value=''"
                           type="number" data-dtype="Number" value="{{data.data.mods.attack}}"/>
                </div>
                <div class="flexrow flex-group-left">
                    <label for="data.mods.damage">{{localize 'OD6S.DAMAGE_BONUS'}}</label>
                    <input title="{{localize 'OD6S.DAMAGE_BONUS'}}" name="data.mods.damage" onfocus="this.value=''"
                           type="number" data-dtype="Number" value="{{data.data.mods.damage}}"/>
                </div>
            </div>
            <br>
            <div class="grid grid-2col">
                <div class="flexrow flex-group-left">
                    <div class="flexrow flex-group-left">
                        <label title="{{localize data.data.area-units.label}}" for="data.area-units.value">{{localize
                                data.data.area-units.label}}</label>
                        <input title="{{localize data.data.area-units.label}}" name="data.area-units.value"
                               onfocus="this.value=''"
                               type="number" data-dtype="Number" value="{{data.data.area-units.value}}"/>
                    </div>
                </div>
                <div class="flexrow flex-group-left">
                    <div class="flexrow flex-group-left">
                        <label title="{{localize data.data.mass.label}}" for="data.mass.value">{{localize
                                data.data.mass.label}}</label>
                        <input title="{{localize data.data.mass.label}}" name="data.mass.value"
                               onfocus="this.value=''"
                               type="number" data-dtype="Number" value="{{data.data.mass.value}}"/>
                    </div>
                </div>
                <div class="flexrow flex-group-left">
                    <div class="flexrow flex-group-left">
                        <label title="{{localize data.data.energy.label}}" for="data.energy.value">{{localize
                                data.data.energy.label}}</label>
                        <input title="{{localize data.data.energy.label}}" name="data.energy.value"
                               onfocus="this.value=''"
                               type="number" data-dtype="Number" value="{{data.data.energy.value}}"/>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Effects Tab --}}
        {{> systems/od6s/templates/item/item-effects.html }}

        {{!--Labels Tab --}}
        {{> systems/od6s/templates/item/item-labels-tags.html }}
    </section>
</form>
