<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"
             alt="{{localize 'OD6S.ALT_ITEM_IMAGE'}}"/>
        <div class="header-fields">
            <div>
                <h2 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h2>
                <div class="flex-left">
                    <div class="grid grid-2col">
                        <div class="resource">
                            <label class="resource-label" for="data.quantity">Quantity</label>
                            <input type="text" name="data.quantity" id="data.quantity" value="{{data.data.quantity}}"
                                   data-dtype="Number"/>
                        </div>
                        {{#if (eq (getCost) '0')}}
                            <div class="resource">
                                <label class="resource-label" for="data.price">{{localize 'OD6S.PRICE'}}</label>
                                <select name="data.price" id="data.price">
                                    {{#select data.data.price}}
                                        {{#each (getPrices) as |price key|}}
                                            <option value="{{ key }}">
                                                {{key}}: {{localize price}}
                                            </option>
                                        {{/each}}
                                    {{/select}}
                                </select>
                            </div>
                            {{#if (gt data.data.ammo 0)}}
                                <div class="resource">
                                    <label class="resource-label" for="data.ammo_price">{{localize
                                            'OD6S.AMMO_PRICE'}}</label>
                                    <select name="data.ammo_price" id="data.ammo_price">
                                        {{#select data.data.ammo_price}}
                                            {{#each (getPrices) as |ammo_price key|}}
                                                <option value="{{ key }}">
                                                    {{key}}: {{localize ammo_price}}
                                                </option>
                                            {{/each}}
                                        {{/select}}
                                    </select>
                                </div>
                            {{/if}}
                        {{else}}
                            <div class="resource">
                                <label class="resource-label" for="data.cost">{{localize 'OD6S.COST'}}</label>
                                <input type="text" name="data.cost" id="data.cost" value="{{data.data.cost}}"
                                       data-dtype="Number"/>
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "OD6S.DESCRIPTION"}}</a>
        <a class="item" data-tab="attributes">{{localize "OD6S.ATTRIBUTES"}}</a>
        <a class="item" data-tab="effects">{{localize "OD6S.EFFECTS"}}</a>
        <a class="item" data-tab="labels">{{localize "OD6S.LABELS"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="editor">{{editor content=data.data.description target="data.description" button=true owner=owner
                                         editable=editable}}
            </div>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{!-- As you add new fields, add them in here! --}}
            <div>{{localize 'OD6S.TYPE'}}: {{localize "OD6S.WEAPON"}}</div>
            <div class="flexrow flex-group-left">
                <label for="data.subtype">{{localize 'OD6S.CHAR_WEAPONS_TYPE'}}:</label>
                <select name="data.subtype" id="data.subtype">
                    {{#select data.data.subtype}}
                        {{#each (getWeaponTypes) as |subtype|}}
                            <option value="{{ localize subtype }}">
                                {{localize subtype}}
                            </option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="flexrow flex-group-left">
                <label title="{{localize 'OD6S.TOOLTIP_VEHICLE_WEAPON_SCALE'}}" for="data.scale.value">{{localize
                        'OD6S.SCALE'}}</label>
                <input title="{{localize 'OD6S.TOOLTIP_VEHICLE_WEAPON_SCALE'}}" name="data.scale.score"
                       type="number" data-dtype="Number" value="{{data.data.scale.score}}"/>
            </div>
            {{# if (eq data.data.subtype (localize 'OD6S.MELEE'))}}
                {{# if (getMeleeDifficulty) }}
                    <div class="flexrow flex-group-left">
                        <label for="data.difficulty">{{localize 'OD6S.DIFFICULTY'}}:</label>
                        <select name="data.difficulty" id="data.difficulty">
                            {{#select data.data.difficulty}}
                                {{#each (getMeleeDifficultyLevels) as |level|}}
                                    <option value="{{ level }}">
                                        {{localize level}}
                                    </option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                {{/if}}
            {{/if}}
            {{#if (isRanged data.data.subtype)}}
                <div class="flexrow flex-group-left">
                    <p>{{localize 'OD6S.RANGE'}}:</p>
                    <label for="data.range.short">{{localize 'OD6S.RANGE_SHORT'}}:</label>
                    <input title="{{localize 'OD6S.RANGE_SHORT'}}"
                           onfocus="this.value=''" data-dtype="String"
                           name="data.range.short" type="text" value="{{data.data.range.short}}">
                    <label for="data.range.medium">{{localize 'OD6S.RANGE_MEDIUM'}}:</label>
                    <input title="{{localize 'OD6S.RANGE_MEDIUM'}}"
                           onfocus="this.value=''" data-dtype="String"
                           name="data.range.medium" type="text" value="{{data.data.range.medium}}">
                    <label for="data.range.long">{{localize 'OD6S.RANGE_LONG'}}:</label>
                    <input title="{{localize 'OD6S.RANGE_LONG'}}"
                           onfocus="this.value=''" data-dtype="String"
                           name="data.range.long" type="text" value="{{data.data.range.long}}">
                </div>
                <div class="flexrow flex-group-left">
                    <label for="data.ammo">{{localize 'OD6S.AMMO'}}:</label>
                    <input title="{{localize 'OD6S.AMMO'}}" data-dtype="Number" onfocus="this.value=''"
                           name="data.ammo" type="number" value="{{data.data.ammo}}">
                    <label for="data.rof">{{localize 'OD6S.RATE_OF_FIRE'}}:</label>
                    <input title="{{localize 'OD6.RATE_OF_FIRE'}}" data-dtye="Number" onfocus="this.value=''"
                           name="data.rof" type="number" value="{{data.data.rof}}">
                </div>
            {{/if}}
            <div class="flexrow flex-group-center">{{localize 'OD6S.DAMAGE'}}</div>
            <div class="row">
                {{#if (isGrenadeDice data.data.subtype)}}
                {{else}}
                    <div class="column">
                        <div>
                            <div class="flex flex-group-left editweapondamage"
                                 data-item-id="{{item.id}}" data-score="{{data.data.damage.score}}">
                                <label for="dice">{{localize 'OD6S.DICE'}}</label>
                                <input title="{{localize 'OD6S.DICE'}}" name="dice" type="number"
                                       onfocus="this.value=''"
                                       value="{{diceFromScore data.data.damage.score}}" data-dtype="Number"/>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div>
                            <div class="flex flex-group-left editweapondamage"
                                 data-item-id="{{item.id}}" data-score="{{data.data.damage.score}}">
                                <label for="pips">{{localize 'OD6S.PIPS'}}</label>
                                <input title="{{localize 'OD6S.PIPS'}}" name="pips" type="number"
                                       onfocus="this.value=''"
                                       value="{{pipsFromScore data.data.damage.score}}" data-dtype="Number"/>
                            </div>
                        </div>
                    </div>
                {{/if}}
                {{#if (isMuscle data.data.subtype)}}
                    <div class="column">
                        <div class="flexrow flex-group-left" title="{{localize 'OD6S.WEAPON_MUSCLE'}}">
                            <label for="data.damage.muscle">{{localize 'OD6S.CHAR_STRENGTH_SHORT'}}</label>
                            <input id="data.damage.muscle" name="data.damage.muscle" type="checkbox"
                                   data-dtype="Boolean" {{checked data.data.damage.muscle}}/>
                        </div>
                    </div>
                {{/if}}
                <div class="column">
                    <div class="flexrow flex-group-left">
                        <label for="data.damage.type">{{localize 'OD6S.DAMAGE_TYPE'}}:</label>
                        <select name="data.damage.type" id="data.damage.type">
                            {{#select data.data.damage.type }}
                                {{#each (getDamageTypes) as |damagetype key|}}
                                    <option value="{{ key }}">
                                        {{localize damagetype}}
                                    </option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>
            </div>
            {{#if (isExplosive data.data.subtype)}}
                {{#if (ne (isGrenadeDice data.data.subtype) true)}}
                    <div class="flexrow flex-group-left">
                        {{ localize 'OD6S.BLAST_RADIUS' }} {{localize 'OD6S.ZONE'}} {{localize 'OD6S.RANGE'}}
                        {{#each data.data.blast_radius as |radius key|}}
                            {{#if (ne key "4")}}
                                <input onfocus="this.value=''" data-dtype="Number"
                                       title="{{localize 'OD6S.ZONE'}} {{key}}"
                                       name="data.blast_radius.{{key}}.range" type="number" max="99"
                                       value="{{radius.range}}">
                            {{/if}}
                        {{/each}}
                    </div>
                {{/if}}
            {{/if}}
            {{#if (isGrenadeDice data.data.subtype) }}
                <div class="center">{{localize 'OD6S.BLAST_RADIUS'}}</div>
                <div class="grid grid-5col">
                    <div>{{localize 'OD6S.RANGE'}}</div>
                    {{#each data.data.blast_radius as |radius key|}}
                        <span class="flexrow flex-group-left"><input onfocus="this.value=''" data-dtype="Number"
                                                                     title="{{localize 'OD6S.ZONE'}} {{key}}"
                                                                     name="data.blast_radius.{{key}}.range"
                                                                     type="number" max="99"
                                                                     value="{{radius.range}}"></span>
                    {{/each}}
                </div>
                <div class="grid grid-5col">
                    <div>{{localize 'OD6S.DAMAGE'}}</div>
                    {{#each data.data.blast_radius as |radius key|}}
                        <span class="flexrow flex-group-left"><input onfocus="this.value=''" data-dtype="Number"
                                                                     title="{{localize 'OD6S.ZONE'}} {{key}}"
                                                                     name="data.blast_radius.{{key}}.damage"
                                                                     type="number" max="99"
                                                                     value="{{radius.damage}}">D</span>
                    {{/each}}
                </div>
            {{/if}}
            <div class="flexrow flex-group-left">
                <label for="data.stats.attribute">{{localize 'OD6S.ATTRIBUTE'}}</label>
                <input title="{{localize 'OD6S.ATTRIBUTE'}}" name="data.stats.attribute"
                       value="{{data.data.stats.attribute}}" data-dtype="String"/>
            </div>
            <div class="flexrow flex-group-left">
                <label for="data.stats.skill">{{localize 'OD6S.SKILL'}}</label>
                <input title="{{localize 'OD6S.SKILL'}}" name="data.stats.skill"
                       value="{{data.data.stats.skill}}" data-dtype="String"/>
            </div>
            <div class="flexrow flex-group-left">
                <label for="data.stats.specialization">{{localize 'OD6S.SPECIALIZATION'}}</label>
                <input title="{{localize 'OD6S.SPECIALIZATION'}}" name="data.stats.specialization"
                       value="{{data.data.stats.specialization}}" data-dtype="String"/>
            </div>
            <div class="flexrow flex-group-center">{{localize 'OD6S.ACTIVE_EFFECTS'}}</div>
            <div class="flexrow flex-group-center">
                <div class="flexrow flex-group-left">
                    <label for="data.mods.difficulty">{{localize 'OD6S.ATTACK_DIFFICULTY_MODIFIER'}}</label>
                    <input title="{{localize 'OD6S.ATTACK_DIFFICULTY_MODIFIER'}}" name="data.mods.difficulty"
                           onfocus="this.value=''"
                           type="number" data-dtype="Number" value="{{data.data.mods.difficulty}}"/>
                </div>
                <div class="flexrow flex-group-left">
                    <label for="data.mods.attack">{{localize 'OD6S.ATTACK_BONUS'}}</label>
                    <input title="{{localize 'OD6S.ATTACK_BONUS'}}" name="data.mods.attack" onfocus="this.value=''"
                           type="number" data-dtype="Number" value="{{data.data.mods.attack}}"/>
                </div>
                <div class="flexrow flex-group-left">
                    <label for="data.mods.damage">{{localize 'OD6S.DAMAGE_BONUS'}}</label>
                    <input title="{{localize 'OD6S.DAMAGE_BONUS'}}" name="data.mods.damage" onfocus="this.value=''"
                           type="number" data-dtype="Number" value="{{data.data.mods.damage}}"/>
                </div>
            </div>
        </div>

        {{!-- Effects Tab --}}
        {{> systems/od6s/templates/item/item-effects.html }}

        {{!--Labels Tab --}}
        {{> systems/od6s/templates/item/item-labels-tags.html }}
    </section>
</form>
