<form autocomplete="off">
    <br>
    <div class="row">
        <img class="profile-img" src="{{object.img}}" data-edit="img" title="{{object.name}}"
             alt="{{localize 'OD6S.ALT_ITEM_IMAGE'}}" width="75" height="75"/>&nbsp&nbsp
        <h3><br>{{object.name}}</h3>
    </div>
    {{#if object.data.description}}
        <div id="description" class="boxed" style="width:300px;">
            {{{ object.data.description }}}
        </div>
    {{/if}}
    {{#if (eq object.type "armor")}}
        <div id="er-value">
            {{localize 'OD6S.ENERGY_RESISTANCE'}}: {{diceFromScore object.data.er}}D+{{pipsFromScore object.data.er}}
        </div>
        <div id="pr-value">
            {{localize 'OD6S.PHYSICAL_RESISTANCE'}}: {{diceFromScore object.data.pr}}D+{{pipsFromScore object.data.pr}}
        </div>
    {{/if}}
    {{#if (eq object.type "weapon")}}
        <div id="damage-value">
            {{localize 'OD6S.DAMAGE'}}: {{diceFromScore object.data.damage.score}}D+{{pipsFromScore
                object.data.damage.score}}
            {{localize (getDamageType object.data.damage.type)}}
        </div>
        <div id="weapon-type">
            {{localize 'OD6S.TYPE'}}: {{localize object.data.subtype}}
        </div>
        {{#if (eq object.data.subtype 'Ranged')}}
            <div id="weapon-range">
                {{localize 'OD6S.RANGE'}}: {{object.data.range.short}}/{{object.data.range.medium}}
                {{object.data.range.long}}
            </div>
        {{/if}}
        {{#if (eq object.data.subtype 'Missile')}}
            <div id="weapon-range">
                {{localize 'OD6S.RANGE'}}: {{object.data.range.short}}/{{object.data.range.medium}}
                /{{object.data.range.long}}
            </div>
        {{/if}}
        {{#if (eq object.data.subtype 'Thrown')}}
            <div id="weapon-range">
                {{localize 'OD6S.RANGE'}}: {{object.data.range.short}}/{{object.data.range.medium}}
                /{{object.data.range.long}}
            </div>
        {{/if}}
    {{/if}}
    {{#if (eq object.type "vehicle-weapon")}}
        <div id="damage-value">
            {{localize 'OD6S.DAMAGE'}}: {{diceFromScore object.data.damage.score}}D+{{pipsFromScore
                object.data.damage.score}}
            {{localize (getDamageType object.data.damage.type)}}
        </div>
        <div>
            {{localize 'OD6S.RANGE'}}: {{object.data.range.short}}/{{object.data.range.medium}}
            /{{object.data.range.long}}
        </div>
    {{/if}}
    {{#if (eq object.type "starship-weapon")}}
        <div id="damage-value">
            {{localize 'OD6S.DAMAGE'}}: {{diceFromScore object.data.damage.score}}D+{{pipsFromScore
                object.data.damage.score}}
            {{localize (getDamageType object.data.damage.type)}}
        </div>
        <div>
            {{localize 'OD6S.RANGE'}}: {{object.data.range.short}}/{{object.data.range.medium}}
            /{{object.data.range.long}}
        </div>
    {{/if}}
    <br><br>
</form>