<form>
    <div class="flexrow flex-group-left">
        <label for="actor-type">{{localize 'OD6S.ACTOR_TYPE'}}:</label>
        <select name="actor-type" id="actor-type" style="width: 70px;">
            {{#select data.wounds.value}}
                {{#each actorTypes as |type|}}
                    <option value="{{ type }}">
                        {{localize (getActorTypeLabel type)}}
                    </option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</form>