<form>
    <div class="flexrow flex-group-left">
        <select name="add-item" id="add-item" style="width: 70px;">
            {{#select object.items}}
                {{#each object.items as |item key|}}
                    <option value="{{ key }}">
                        {{item.name}}
                    </option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="flexrow flex-group-center">
        <button type="submit" name="submit" value="selected">{{localize object.label}}</button>
        <button type="submit" name="cancel" value="cancel">{{localize "OD6S.CANCEL"}}</button>
    </div>
    <br><br>
    <div class="flex-group-center">
        {{ localize object.label_empty}}
    </div>
    <div class="flexrow flex-group-center">
        <button type="submit" name="submit" value="empty">{{localize object.label}}</button>
        <button type="submit" name="cancel" value="cancel">{{localize "OD6S.CANCEL"}}</button>
    </div>
    <input name="type" type="hidden" value="{{object.type}}"/>
    <input name="attrname" type="hidden" value="{{object.attrname}}"/>
    <input name="actor" type="hidden" value="{{object.actor}}"/>
    <input name="serializeditems" type="hidden" value="{{object.serializeditems}}"/>
</form>