<div class="tab main" data-group="primary" data-tab="main">
    <div class="row">
        <div class="column">
            <h4 class="flex-group-center">{{localize 'OD6S.ATTRIBUTES'}}</h4>
            <div class="grid grid-2col">
                <div class="flexrow flex-group-left">
                    <div class="flexrow flex-group-left">
                        {{localize data.armor.label}}
                    </div>
                    <div class="flex-group-center">
                        <b>{{diceFromScore data.armor.score}}</b>D+<b>{{pipsFromScore
                            data.armor.score}}</b>
                    </div>
                </div>
                <div class="flexrow flex-group-left edit-dodge">
                    <label for="data.dodge.score">{{ localize 'OD6S.DODGE' }}:</label>
                    <input title="{{localize 'OD6S.DODGE'}}" name="data.dodge.score"
                           value="{{data.dodge.score}}" data-dtype="Number"
                           placeholder="{{ data.dodge.score }}"
                           id="data.dodge.score"
                           onfocus="this.value=''" type="number" maxlength="2" size="2"/>
                </div>
                <div class="flexrow flex-group-left">
                    {{#if (eq data.sheetmode.value "freeedit")}}
                        <label class="attribute attributedialog flex-group-center"
                               for="data.maneuverability.score"><b>{{localize data.maneuverability.label}}</b>:</label>
                        <div class="edit-maneuverability">
                            <input title="{{localize 'OD6S.CHAR_MANEUVERABILITY'}}"
                                   name="maneuverability-dice" type="number"
                                   id="maneuverability-dice"
                                   data-id="maneuverability-dice"
                                   value="{{diceFromScore data.maneuverability.score}}" min="0" max="99"
                                   placeholder="{{diceFromScore data.maneuverability.score}}" data-type="Number"/></div>
                        D+
                        <div class="edit-maneuverability">
                            <input title="{{localize 'OD6S.CHAR_MANEUVERABILITY'}}" name="maneuverability-pips" type="number"
                                   id="maneuverability-pips"
                                   data-id="maneuverability-pips" value="{{pipsFromScore data.maneuverability.score}}" min="0" max="99"
                                   placeholder="{{pipsFromScore data.maneuverability.score}}" data-type="Number"/>
                        </div>
                    {{else}}
                        <div class="attribute attributedialog flex-group-center{{#if
                                (eq data.sheetmode.value "normal")}} rolldialog{{/if}}"
                             data-type="maneuverability"
                             data-score="{{data.maneuverability.score}}"
                             data-label="{{localize data.maneuverability.label}}">
                            <b>{{ localize data.maneuverability.label }}</b>
                        </div>
                        <div class="flex-group-center{{#if
                                (eq data.sheetmode.value "normal")}} rolldialog{{/if}}"
                             data-type="maneuverability"
                             data-score="{{data.maneuverability.score}}"
                             data-label="{{localize data.maneuverability.label}}">
                            <b>{{diceFromScore data.maneuverability.score}}</b>D+<b>{{pipsFromScore
                                data.maneuverability.score}}</b>
                        </div>
                    {{/if}}
                </div>
                <div class="flexrow flex-group-left">
                    {{#if (eq data.sheetmode.value "freeedit")}}
                        <label class="attribute attributedialog flex-group-center"
                               for="data.toughness.score"><b>{{localize data.toughness.label}}</b>:</label>
                        <div class="edit-toughness">
                            <input title="{{localize 'OD6S.CHAR_toughness'}}"
                                   name="toughness-dice" type="number"
                                   id="toughness-dice"
                                   data-id="toughness-dice"
                                   value="{{diceFromScore data.toughness.score}}" min="0" max="99"
                                   placeholder="{{diceFromScore data.toughness.score}}" data-type="Number"/></div>
                        D+
                        <div class="edit-toughness">
                            <input title="{{localize 'OD6S.CHAR_toughness'}}" name="toughness-pips" type="number"
                                   id="toughness-pips"
                                   data-id="toughness-pips" value="{{pipsFromScore data.toughness.score}}" min="0" max="99"
                                   placeholder="{{pipsFromScore data.toughness.score}}" data-type="Number"/>
                        </div>
                    {{else}}
                        <div class="attribute attributedialog flex-group-center{{#if
                                (eq data.sheetmode.value "normal")}} rolldialog{{/if}}"
                             data-type="toughness"
                             data-score="{{data.toughness.score}}"
                             data-label="{{localize data.toughness.label}}">
                            <b>{{ localize data.toughness.label }}</b>
                        </div>
                        <div class="flex-group-center{{#if
                                (eq data.sheetmode.value "normal")}} rolldialog{{/if}}"
                             data-type="toughness"
                             data-score="{{data.toughness.score}}"
                             data-label="{{localize data.toughness.label}}">
                            <b>{{diceFromScore data.toughness.score}}</b>D+<b>{{pipsFromScore
                                data.toughness.score}}</b>
                        </div>
                    {{/if}}
                </div>
            </div>
            {{#if (gt data.shields.value 0)}}
                <h4 class="flexrow flex-group-center">{{localize 'OD6S.SHIELDS'}}:
                    <div class="flex-group-center">{{ localize 'OD6S.TOTAL' }}: <b>{{diceFromScore
                            data.shields.value}}</b>D+<b>{{pipsFromScore
                            data.shields.value}}</b></div>
                    <div class="flex-group-center">
                        {{ localize 'OD6S.ALLOCATED'}}:
                        <b>{{diceFromScore data.shields.allocated}}</b>D+<b>{{pipsFromScore
                            data.shields.allocated}}</b></div>
                </h4>
                <div class="row">
                    <div class="column">
                        <div class="grid grid-shields">
                            <div class="flexrow flex-group-left">{{localize
                                    data.shields.arcs.front.label}}</div>
                            <div title="{{localize 'OD6S.ALLOCATED'}}"
                                 class="flex-group-center{{#if
                                         (eq data.sheetmode.value "normal")}} rolldialog{{/if}}"
                                 data-type="shields"
                                 data-score="{{data.shields.arcs.front.value}}"
                                 data-label="{{localize data.shields.arcs.front.label}} {{localize
                                         data.shields.label}}">
                                <b>{{diceFromScore data.shields.arcs.front.value}}
                                </b>D+<b>{{pipsFromScore data.shields.arcs.front.value}}</b>
                            </div>
                            <div title="{{localize 'OD6S.TOTAL'}} {{getToughnessName 'vehicle'}}"
                                 class="flex-group-center{{#if
                                         (eq data.sheetmode.value "normal")}} rolldialog{{/if}}"
                                 data-type="vehicletoughness"
                                 data-score="{{add data.shields.arcs.front.value data.toughness.score
                                                   data.armor.score}}"
                                 data-label="{{getToughnessName 'vehicle'}}">
                                <b>{{diceFromScore
                                        (add data.shields.arcs.front.value data.toughness.score data.armor.score)}}
                                </b>D+<b>{{pipsFromScore
                                    (add data.shields.arcs.front.value data.toughness.score data.armor.score)}}</b>
                            </div>
                            <div class="flexrow flex-group-center">
                                <div class="arc" data-arc="front" data-direction="up">
                                    <i class="fas fa-plus-square"></i>
                                </div>
                                <div class="arc" data-arc="front" data-direction="down">
                                    <i class="fas fa-minus-square"></i>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-shields">
                            <div class="flexrow flex-group-left">{{localize data.shields.arcs.left.label}}</div>
                            <div title="{{localize 'OD6S.ALLOCATED'}}"
                                 class="flex-group-center{{#if
                                         (eq data.sheetmode.value "normal")}} rolldialog{{/if}}"
                                 data-type="shields"
                                 data-score="{{data.shields.arcs.left.value}}"
                                 data-label="{{localize data.shields.arcs.left.label}} {{localize
                                         data.shields.label}}">
                                <b>{{diceFromScore data.shields.arcs.left.value}}
                                </b>D+<b>{{pipsFromScore data.shields.arcs.left.value}}</b>
                            </div>
                            <div title="{{localize 'OD6S.TOTAL'}} {{getToughnessName 'vehicle'}}"
                                 class="flex-group-center{{#if
                                         (eq data.sheetmode.value "normal")}} rolldialog{{/if}}"
                                 data-type="vehicletoughness"
                                 data-score="{{add data.shields.arcs.left.value data.toughness.score
                                                   data.armor.score}}"
                                 data-label="{{getToughnessName 'vehicle'}}">
                                <b>{{diceFromScore
                                        (add data.shields.arcs.left.value data.toughness.score data.armor.score)}}
                                </b>D+<b>{{pipsFromScore
                                    (add data.shields.arcs.left.value data.toughness.score data.armor.score)}}</b>
                            </div>
                            <div class="flexrow flex-group-center">
                                <div class="arc" data-arc="left" data-direction="up">
                                    <i class="fas fa-plus-square"></i>
                                </div>
                                <div class="arc" data-arc="left" data-direction="down">
                                    <i class="fas fa-minus-square"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="grid grid-shields">
                            <div class="flexrow flex-group-left">{{localize data.shields.arcs.rear.label}}</div>
                            <div title="{{localize 'OD6S.ALLOCATED'}}"
                                 class="flex-group-center{{#if
                                         (eq data.sheetmode.value "normal")}} rolldialog{{/if}}"
                                 data-type="shields"
                                 data-score="{{data.shields.arcs.rear.value}}"
                                 data-label="{{localize data.shields.arcs.rear.label}} {{localize
                                         data.shields.label}}">
                                <b>{{diceFromScore data.shields.arcs.rear.value}}
                                </b>D+<b>{{pipsFromScore data.shields.arcs.rear.value}}</b>
                            </div>
                            <div title="{{localize 'OD6S.TOTAL'}} {{getToughnessName 'vehicle'}}"
                                 class="flex-group-center{{#if
                                         (eq data.sheetmode.value "normal")}} rolldialog{{/if}}"
                                 data-type="vehicletoughness"
                                 data-score="{{add data.shields.arcs.rear.value data.toughness.score
                                                   data.armor.score}}"
                                 data-label="{{getToughnessName 'vehicle'}}">
                                <b>{{diceFromScore
                                        (add data.shields.arcs.rear.value data.toughness.score data.armor.score)}}
                                </b>D+<b>{{pipsFromScore
                                    (add data.shields.arcs.rear.value data.toughness.score data.armor.score)}}</b>
                            </div>
                            <div class="flexrow flex-group-center">
                                <div class="arc" data-arc="rear" data-direction="up">
                                    <i class="fas fa-plus-square"></i>
                                </div>
                                <div class="arc" data-arc="rear" data-direction="down">
                                    <i class="fas fa-minus-square"></i>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-shields">
                            <div class="flexrow flex-group-left">{{localize
                                    data.shields.arcs.right.label}}</div>
                            <div title="{{localize 'OD6S.ALLOCATED'}}"
                                 class="flex-group-center{{#if
                                         (eq data.sheetmode.value "normal")}} rolldialog{{/if}}"
                                 data-type="shields"
                                 data-score="{{data.shields.arcs.right.value}}"
                                 data-label="{{localize data.shields.arcs.right.label}} {{localize
                                         data.shields.label}}">
                                <b>{{diceFromScore data.shields.arcs.right.value}}
                                </b>D+<b>{{pipsFromScore data.shields.arcs.right.value}}</b>
                            </div>
                            <div title="{{localize 'OD6S.TOTAL'}} {{getToughnessName 'vehicle'}}"
                                 class="flex-group-center{{#if
                                         (eq data.sheetmode.value "normal")}} rolldialog{{/if}}"
                                 data-type="vehicletoughness"
                                 data-score="{{add data.shields.arcs.right.value data.toughness.score
                                                   data.armor.score}}"
                                 data-label="{{getToughnessName 'vehicle'}}">
                                <b>{{diceFromScore
                                        (add data.shields.arcs.right.value data.toughness.score data.armor.score)}}
                                </b>D+<b>{{pipsFromScore
                                    (add data.shields.arcs.right.value data.toughness.score data.armor.score)}}</b>
                            </div>
                            <div class="flexrow flex-group-center">
                                <div class="arc" data-arc="right" data-direction="up">
                                    <i class="fas fa-plus-square"></i>
                                </div>
                                <div class="arc" data-arc="right" data-direction="down">
                                    <i class="fas fa-minus-square"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
            {{#if (getSensorsConfig)}}
                {{#if data.sensors.value }}
                    <div class="flexrow flex-group-center">
                        {{ localize 'OD6S.SENSORS' }}
                    </div>
                    <div class="grid grid-2col">
                        {{#each data.sensors.types as |sensortype key|}}
                            <div class="flexrow flex-group-center">
                                {{localize sensortype.label}}:
                                <div title="{{localize 'OD6S.RANGE'}}">{{sensortype.range}}</div>
                                /
                                <div title="{{localize 'OD6S.SCORE'}}"
                                     class="flex-group-center{{#if
                                             (eq ../data.sheetmode.value "normal")}} rolldialog{{/if}}"
                                     data-type="sensors"
                                     data-score="{{sensortype.score}}"
                                     data-label="{{localize 'OD6S.SENSORS'}} {{localize sensortype.label}}">
                                    <b>{{diceFromScore sensortype.score}}
                                    </b>D+<b>{{pipsFromScore sensortype.score}}</b>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                {{/if}}
            {{/if}}
        </div>
        <div class="column">
            <div class="grid title-add-grid">
                <div class="flexrow flex-group-center">{{localize 'OD6S.CREW'}}</div>
                <div class="flexrow flex-group-center item-controls">
                    <a class="crew-add" title="{{localize 'OD6S.ADD_CREW'}}" data-type="crewmember">
                        <i class="fas fa-plus"></i></a>
                </div>
            </div>
            <div>
                <ul class="crew-list">
                    {{#each data.crewmembers as |crewmember|}}
                        <li class="crew-list item" data-crew-uuid="{{crewmember.uuid}}">
                            <div class="grid title-add-grid">
                                <div class="flexrow flex-group-left crew-member"
                                     data-uuid="{{crewmember.uuid}}">
                                    {{crewmember.name}}
                                </div>
                                <div class="flexrow flex-group-center">
                                    <a data-crewId="{{crewmember.uuid}}"
                                       data-vehicleId="{{../actor.uuid}}"
                                       data-type="weapon"
                                       class="item-control crew-delete small-font"
                                       title="{{localize 'OD6S.REMOVE_CREW'}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="grid title-add-grid">
        <div class="flexrow flex-group-center">{{localize 'OD6S.WEAPONS'}}</div>
        <div class="flexrow flex-group-center item-controls">
            <a class="item-control item-create" title="{{localize 'OD6S.ADD_VEHICLE_WEAPON'}}"
               data-type="vehicle-weapon">
                <i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div>
        <ul class="weapons-list">
            {{#each actor.vehicle_weapons as |weapon key|}}
                <li class="weapons item" data-item-id="{{weapon._id}}">
                    <div class="inv-grid vehicle-ranged-weapon-grid">
                        <div class="equip-checkbox" data-item-id="{{weapon._id}}">
                            <input type="checkbox" name="weapon.data.equipped.value"
                                   id="weapon.data.equipped.value" data-dtype="Boolean"
                                   title="{{localize 'OD6S.EQUIPPED'}}"
                                {{checked weapon.data.equipped.value}}>
                        </div>
                        <div class="flexrow flex-group-left"
                             title="{{weapon.description}}">{{weapon.name}}</div>
                        <div class="flexrow flex-group-left"
                             title="{{localize 'OD6S.ARC'}}">
                            {{localize weapon.data.arc.value}}</div>
                        <div class="flexrow flex-group-center"
                             title="{{localize 'OD6S.RANGE'}}">
                            {{weapon.data.range.short}}/{{weapon.data.range.medium}}
                            /{{weapon.data.range.long}}</div>
                        <div class="flexrow flex-group-center" title="{{localize 'OD6S.DAMAGE'}}">
                            {{diceFromScore weapon.data.damage.score}}D+{{pipsFromScore
                                weapon.data.damage.score}}</div>
                        <div class="flexrow flex-group-center" title="{{localize 'OD6S.FIRE_CONTROL'}}">
                            {{diceFromScore weapon.data.fire_control.score}}D+{{pipsFromScore
                                weapon.data.fire_control.score}}</div>
                        <div class="item-controls flexrow flex-group-center"
                             data-item-id="{{weapon._id}}"
                             data-type="weapon">
                            <a class="item-control item-edit small-font" data-item-id="{{weapon._id}}"
                               title="Edit Weapon">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a data-item-id="{{weapon._id}}"
                               data-type="weapon"
                               class="item-control item-delete small-font"
                               title="Delete Weapon">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
    <br>
    <div class="grid title-add-grid">
        <div class="flexrow flex-group-center">{{localize 'OD6S.GEAR'}}</div>
        <div class="flexrow flex-group-center item-controls">
            <a class="item-control item-create" title="{{localize 'OD6S.ADD_GEAR'}}"
               data-type="vehicle-gear">
                <i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div>
        <ul class="gear-list">
            <div class="grid grid-2col">
                {{#each actor.vehicle_gear as |item key|}}
                    <li class="item" data-item-id="{{item._id}}">
                        <div class="inv-grid gear-grid">
                            <div class="equip-checkbox" data-item-id="{{item._id}}">
                                <input type="checkbox" name="item.data.equipped.value"
                                       id="item.data.equipped.value" data-dtype="Boolean"
                                       title="{{localize 'OD6S.EQUIPPED'}}"
                                    {{checked item.data.equipped.value}}>
                            </div>
                            <div class="edit-quantity" title="{{localize 'OD6S.QUANTITY'}}"
                                 data-item-id="{{item._id}}">
                                <input type="number" name="item.data.quantity"
                                       id="actor.data.quantity" data-dtype="Number"
                                       value="{{item.data.quantity}}">
                            </div>
                            <div class="flexrow flex-group-left"
                                 title="{{item.description}}">{{item.name}}</div>
                            <div class="item-controls flexrow flex-group-center"
                                 data-item-id="{{item._id}}"
                                 data-type="item">
                                <a class="item-control item-edit small-font" data-item-id="{{item._id}}"
                                   title="{{localize 'OD6S.EDIT_ITEM'}}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a data-item-id="{{item._id}}"
                                   data-type="item"
                                   class="item-control item-delete small-font"
                                   title="{{localize 'OD6S.DELETE_ITEM'}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                {{/each}}
            </div>
        </ul>
    </div>
</div>