<div class="tab attributes" data-group="primary" data-tab="attributes">
    <div class="row">
        <div class="column">
            <ul class="attribute-list">
                {{#each data.attributes as |attribute key|}}
                    {{#if (eq (isEvenAttribute ../actor key) 0) }}
                        {{> systems/od6s/templates/actor/common/tabs/attribute-column.html
                                actor=../actor key=key attribute=attribute data=../data}}
                    {{/if}}
                {{/each}}
                {{!-- Handle metaphysics differently --}}
                {{#if (ne data.sheetmode.value "normal") }}
                    {{#unless (isMetaphysicsAttributeOptional)}}
                        <li class="attributes">
                            <div>
                                <div class="attributes grid-3col-attributes">
                                    <div class="attributedialog flex-group-center" data-type="attribute"
                                         data-score="{{data.attributes.met.score}}"
                                         data-label="{{getMetaphysicsName}}">
                                        <b>{{getMetaphysicsName}}</b>
                                    </div>
                                    <div class="flex-group-center" data-type="attribute"
                                         data-score="{{data.attributes.met.score}}"
                                         data-base="{{data.attributes.met.base}}"
                                         data-label="{{getMetaphysicsName}}">
                                        <b>{{diceFromScore data.attributes.met.score}}</b>D+<b>
                                        {{pipsFromScore data.attributes.met.score}}</b></div>
                                    {{#if (eq data.sheetmode.value "advance")}}
                                        <div class="advancedialog flexrow flex-group-center"
                                             data-type="attribute"
                                             data-score="{{data.attributes.met.score}}"
                                             data-label="{{getMetaphysicsName}}"
                                             data-base="{{data.attributes.met.base}}"
                                             data-freeadvance="false"
                                             data-attrname="met">
                                            <a><i class="fas fa-plus-square"></i></a>
                                        </div>{{/if}}
                                    {{#if (eq data.sheetmode.value "freeedit")}}
                                        <div class="attribute-edit flexrow flex-group-center"
                                             data-type="attribute"
                                             data-score="{{data.attributes.met.score}}"
                                             data-base="{{data.attributes.met.base}}"
                                             data-label="{{getMetaphysicsName}}"
                                             data-freeadvance="true"
                                             data-attrname="met">
                                            <a><i class="fas fa-edit"></i></a>
                                        </div>{{/if}}
                                </div>
                            </div>
                        </li>
                    {{/unless}}
                {{/if}}
            </ul>
        </div>
        <div class="column">
            <ul class="attribute-list">
                {{#each data.attributes as |attribute key|}}
                    {{#if (eq (isEvenAttribute ../actor key) 1) }}
                        {{> systems/od6s/templates/actor/common/tabs/attribute-column.html
                                actor=../actor key=key attribute=attribute data=../data}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>