<div class="tab biography" data-group="primary" data-tab="description">
    <div class="flexrow">
        <div class="grid grid-2col align-center">
            <label for="data.gender.content" class="align-right">{{localize data.gender.label}}:</label>
            <input title="{{localize data.gender.label}}" name="data.gender.content" type="text"
                   value="{{data.gender.content}}" placeholder="{{localize data.gender.label}}"
                   data-dtype="{{data.gender.type}}"/>
        </div>
        <div class="grid grid-2col align-center">
            <label for="data.age.content" class="align-right">{{localize data.age.label}}:</label>
            <input title="{{localize data.age.label}}" name="data.age.content" type="text"
                   value="{{data.age.content}}" placeholder="{{localize data.age.label}}"
                   data-dtype="{{data.gender.type}}"/>
        </div>
        <div class="grid grid-2col align-center">
            <label for="data.height.content" class="align-right">{{localize data.height.label}}:</label>
            <input title="{{localize data.height.label}}" name="data.height.content" type="text"
                   value="{{data.height.content}}" placeholder="{{localize data.height.label}}"
                   data-dtype="{{data.height.type}}"/>
        </div>
        <div class="grid grid-2col align-center">
            <label for="data.weight.content" class="align-right">{{localize data.weight.label}}:</label>
            <input title="{{localize data.weight.label}}" name="data.weight.content" type="text"
                   value="{{data.weight.content}}" placeholder="{{localize data.weight.label}}"
                   data-dtype="{{data.weight.label}}"/>
        </div>
    </div>
    <label for="data.personality.content" class="resource-label">{{localize data.personality.label}}:</label>
    {{editor content=data.personality.content name=data.personality.content target="data.personality.content"
             button=true owner=owner editable=true}}
    <label for="data.description.content" class="resource-label">{{localize data.description.label}}:</label>
    {{editor content=data.description.content name=data.description.content target="data.description.content"
             button=true owner=owner editable=true}}
    <label for="data.background.content" class="resource-label">{{localize data.background.label}}:</label>
    {{editor content=data.background.content name=data.background.content target="data.background.content"
             button=true owner=owner editable=true}}
</div>